BasedOnStyle: LLVM
ColumnLimit: 0
Standard: Cpp11
IndentWidth: 4
AccessModifierOffset: -4
BreakBeforeBraces: Linux
ConstructorInitializerAllOnOneLineOrOnePerLine: false
BreakBeforeBinaryOperators: true
